.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
outdir/multiqc/multiqc_report.html
outdir/multiqc/multiqc_data/mqc_cutadapt_filtered_reads_plot_1.txt
outdir/multiqc/multiqc_data/mqc_cutadapt_trimmed_sequences_plot_3_Counts.txt
outdir/multiqc/multiqc_data/mqc_cutadapt_trimmed_sequences_plot_3_Obs_Exp.txt
outdir/multiqc/multiqc_data/multiqc_citations.txt
outdir/multiqc/multiqc_data/multiqc_cutadapt.txt
outdir/multiqc/multiqc_data/multiqc_data.json
outdir/multiqc/multiqc_data/multiqc_general_stats.txt
outdir/multiqc/multiqc_data/multiqc_sources.txt
outdir/multiqc/multiqc_data/multiqc.log
outdir/multiqc/multiqc_plots/pdf/mqc_cutadapt_filtered_reads_plot_1_pc.pdf
outdir/multiqc/multiqc_plots/pdf/mqc_cutadapt_filtered_reads_plot_1.pdf
outdir/multiqc/multiqc_plots/pdf/mqc_cutadapt_trimmed_sequences_plot_3_Counts.pdf
outdir/multiqc/multiqc_plots/pdf/mqc_cutadapt_trimmed_sequences_plot_3_Obs_Exp.pdf
outdir/multiqc/multiqc_plots/pdf/mqc_fastqc_overrepresented_sequences_plot_1.pdf
outdir/multiqc/multiqc_plots/pdf/mqc_fastqc_per_base_n_content_plot_1.pdf
outdir/multiqc/multiqc_plots/pdf/mqc_fastqc_per_base_sequence_quality_plot_1.pdf
outdir/multiqc/multiqc_plots/pdf/mqc_fastqc_per_sequence_gc_content_plot_Counts.pdf
outdir/multiqc/multiqc_plots/pdf/mqc_fastqc_per_sequence_gc_content_plot_Percentages.pdf
outdir/multiqc/multiqc_plots/pdf/mqc_fastqc_per_sequence_quality_scores_plot_1.pdf
outdir/multiqc/multiqc_plots/pdf/mqc_fastqc_sequence_counts_plot_1_pc.pdf
outdir/multiqc/multiqc_plots/pdf/mqc_fastqc_sequence_counts_plot_1.pdf
outdir/multiqc/multiqc_plots/pdf/mqc_fastqc_sequence_duplication_levels_plot_1.pdf
outdir/multiqc/multiqc_plots/pdf/mqc_fastqc_sequence_length_distribution_plot_1.pdf
outdir/multiqc/multiqc_plots/png/mqc_cutadapt_filtered_reads_plot_1_pc.png
outdir/multiqc/multiqc_plots/png/mqc_cutadapt_filtered_reads_plot_1.png
outdir/multiqc/multiqc_plots/png/mqc_cutadapt_trimmed_sequences_plot_3_Counts.png
outdir/multiqc/multiqc_plots/png/mqc_cutadapt_trimmed_sequences_plot_3_Obs_Exp.png
outdir/multiqc/multiqc_plots/svg/mqc_cutadapt_filtered_reads_plot_1_pc.svg
outdir/multiqc/multiqc_plots/svg/mqc_cutadapt_filtered_reads_plot_1.svg
outdir/multiqc/multiqc_plots/svg/mqc_cutadapt_trimmed_sequences_plot_3_Counts.svg
outdir/multiqc/multiqc_plots/svg/mqc_cutadapt_trimmed_sequences_plot_3_Obs_Exp.svg
outdir/multiqc/multiqc_plots/svg/mqc_fastqc_overrepresented_sequences_plot_1.svg
outdir/multiqc/multiqc_plots/svg/mqc_fastqc_per_base_n_content_plot_1.svg
outdir/multiqc/multiqc_plots/svg/mqc_fastqc_per_base_sequence_quality_plot_1.svg
outdir/multiqc/multiqc_plots/svg/mqc_fastqc_per_sequence_gc_content_plot_Counts.svg
outdir/multiqc/multiqc_plots/svg/mqc_fastqc_per_sequence_gc_content_plot_Percentages.svg
outdir/multiqc/multiqc_plots/svg/mqc_fastqc_per_sequence_quality_scores_plot_1.svg
outdir/multiqc/multiqc_plots/svg/mqc_fastqc_sequence_counts_plot_1_pc.svg
outdir/multiqc/multiqc_plots/svg/mqc_fastqc_sequence_counts_plot_1.svg
outdir/multiqc/multiqc_plots/svg/mqc_fastqc_sequence_duplication_levels_plot_1.svg
outdir/multiqc/multiqc_plots/svg/mqc_fastqc_sequence_length_distribution_plot_1.svg
outdir/pipeline_info/execution_report_2022-11-20_12-49-39.html
outdir/pipeline_info/execution_report_2022-11-20_13-04-37.html
outdir/pipeline_info/execution_report_2022-11-20_13-07-03.html
outdir/pipeline_info/execution_report_2022-11-20_13-07-35.html
outdir/pipeline_info/execution_report_2022-11-20_13-37-39.html
outdir/pipeline_info/execution_report_2022-11-20_13-44-41.html
outdir/pipeline_info/execution_report_2022-11-20_13-46-46.html
outdir/pipeline_info/execution_timeline_2022-11-20_12-49-39.html
outdir/pipeline_info/execution_timeline_2022-11-20_13-04-37.html
outdir/pipeline_info/execution_timeline_2022-11-20_13-07-03.html
outdir/pipeline_info/execution_timeline_2022-11-20_13-07-35.html
outdir/pipeline_info/execution_timeline_2022-11-20_13-37-39.html
outdir/pipeline_info/execution_timeline_2022-11-20_13-44-41.html
outdir/pipeline_info/execution_timeline_2022-11-20_13-46-46.html
outdir/pipeline_info/execution_trace_2022-11-20_12-49-39.txt
outdir/pipeline_info/execution_trace_2022-11-20_13-04-37.txt
outdir/pipeline_info/execution_trace_2022-11-20_13-07-03.txt
outdir/pipeline_info/execution_trace_2022-11-20_13-07-35.txt
outdir/pipeline_info/execution_trace_2022-11-20_13-18-45.txt
outdir/pipeline_info/execution_trace_2022-11-20_13-37-39.txt
outdir/pipeline_info/execution_trace_2022-11-20_13-44-41.txt
outdir/pipeline_info/execution_trace_2022-11-20_13-46-46.txt
outdir/pipeline_info/pipeline_dag_2022-11-20_12-49-39.html
outdir/pipeline_info/pipeline_dag_2022-11-20_13-04-37.html
outdir/pipeline_info/pipeline_dag_2022-11-20_13-07-03.html
outdir/pipeline_info/pipeline_dag_2022-11-20_13-07-35.html
outdir/pipeline_info/pipeline_dag_2022-11-20_13-37-39.html
outdir/pipeline_info/pipeline_dag_2022-11-20_13-44-41.html
outdir/pipeline_info/pipeline_dag_2022-11-20_13-46-46.html
outdir/pipeline_info/software_versions.yml
outdir/trimgalore/SAMPLE1_PE_T1_1_val_1.fq.gz
outdir/trimgalore/SAMPLE1_PE_T1_1.fastq.gz_trimming_report.txt
outdir/trimgalore/SAMPLE1_PE_T1_2_val_2.fq.gz
outdir/trimgalore/SAMPLE1_PE_T1_2.fastq.gz_trimming_report.txt
outdir/trimgalore/SAMPLE2_PE_T1_1_val_1.fq.gz
outdir/trimgalore/SAMPLE2_PE_T1_1.fastq.gz_trimming_report.txt
outdir/trimgalore/SAMPLE2_PE_T1_2_val_2.fq.gz
outdir/trimgalore/SAMPLE2_PE_T1_2.fastq.gz_trimming_report.txt
outdir/trimgalore/SAMPLE3_SE_T1_trimmed.fq.gz
outdir/trimgalore/SAMPLE3_SE_T1.fastq.gz_trimming_report.txt
outdir/trimgalore/SAMPLE3_SE_T2_trimmed.fq.gz
outdir/trimgalore/SAMPLE3_SE_T2.fastq.gz_trimming_report.txt
